:root {
  --error-color: #e30e0e;
  --primary-color: #444;
  --primary-bgcolor: #ddd;
  --primary-accent-bgcolor: #ededed;
  --secondary-color: #999;
  --bright-color: #fff;
  --dark-color: #000;
  --headline-font-family: "Anton", sans-serif;
}

/* Baseline  */
body {
  min-height: 100vh;
  background-color: var(--primary-bgcolor);
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  max-width: 700px;
  width: 95%;
  margin: auto;
}

/* App */
.h1 {
  margin-top: 0.75rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.logo {
  width: 10vw;
  min-width: 90px;
  margin: 1rem;
  pointer-events: none;
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: var(--bright-color);
}

/* Form */
.form-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  min-height: 90px;
}

.label {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
}

.input {
  display: inline-block;
  vertical-align: bottom;
  min-width: 320px;
  max-width: 600px;
  width: 95%;
  padding: 0.63rem 0.5rem;
  margin: 0 0 0.5rem 0;
  background-color: var(--primary-accent-bgcolor);
  outline: none;
  border: 1px solid var(--secondary-color);
  border-radius: 0.125rem;
}

.input.error {
  border-color: var(--error-color);
}

.button {
  display: inline-block;
  padding: 0.35rem 0.6rem;
  margin-bottom: 0.5rem;
  color: var(--bright-color);
  background: var(--dark-color);
  border: 1px solid var(--dark-color);
  font: 1rem var(--headline-font-family);
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.button:disabled {
  background: var(--secondary-color);
  border-color: var(--secondary-color);
  cursor: not-allowed;
}

.text-error {
  margin-top: 0.5rem;
  color: var(--error-color);
}

/* List, List Item */
.list-item {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: flex-start;
  padding: 0.75rem 0.5rem;
}

.list-item.header {
  font-weight: bold;
  color: var(--dark-color);
  border-bottom: 1px solid var(--dark-color);
}

.list-item:not(.header):hover {
  background-color: #ededed;
  cursor: pointer;
}

.text-truncate {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.align-self-end {
  margin-top: 0.5rem;
  color: var(--primary-color);
}

/* Utilities */
.hidden {
  visibility: hidden;
}
.mt-1 {
  margin-top: 1rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.border-bottom {
  border-bottom: 1px solid #000;
}
.text-headline {
  font-family: var(--headline-font-family);
  color: var(--primary-color);
  font-family: var(--headline-font-family);
  font-weight: 400;
  letter-spacing: 0.5px;
}

/* Media Queries */
@media screen and (min-width: 45rem) {
  .main {
    width: 60vw;
  }
  .app-header {
    padding: 2rem;
  }
  .list-item {
    flex-direction: row;
    justify-content: center;
  }
  .align-self-end {
    color: var(--dark-color);
    text-align: right;
    margin-left: auto;
    margin-top: 0;
  }
}
